@model Book
@{
    Layout = "_Layout";

}

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <h1 class="text-info">@Model.Name</h1>
        <br />
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img class="rounded" src="@Model.PicLink" width="300" height="350" style="border:1px solid black" />
        </div>
        <div class="col-md-auto" style="width:300px">
            @Model.Description
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top:2vh">
        <input type="submit" class="btn btn-outline-info" value="Add Review" onclick="location.href='@Url.Action("CreateReview", "Review", new { bookId = Model.Id})'" />        
        <input type="submit" class="btn btn-outline-info" name="editBook" value="Edit Book" onclick="location.href='@Url.Action("EditBook", "Book", new { id = Model.Id})'" />
        <input type="submit" class="btn btn-outline-danger" name="deleteBook" value="Delete Book" onclick="location.href='@Url.Action("DeleteBook", "Book", new { id = Model.Id})'" />
    </div>
    <div class="row justify-content-center" style="padding-top:5vh">
        @foreach (var review in ViewData["reviews"] as IEnumerable<Review>)
        {
            <div class="card" style="width:50vh;max-height:20vh;">
                <div class="card-header">
                    <div class="col">
                        <b class="text-info">@review.Name</b>
                    </div>
                    <div class="col" style="text-align:right;font-size:10px;">
                        Rating: @review.Stars
                    </div>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        @review.Text.Truncate(60, "...")
                    </blockquote>
                </div>
            </div>
            <div class="row" style="width:5vh;"></div>
        }
    </div>
</div>




