@model Book
@{
    Layout = "_Layout";

}

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <h1 class="text-info">@Model.Name</h1>
        <br />
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img class="rounded" src="@Model.PicLink" width="300" height="350" style="border:1px solid black" />
        </div>
        <div class="col-md-auto" style="width:300px">
            @Model.Description
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top:2vh">
        <input type="submit" class="btn btn-outline-info" value="Add Review" onclick="location.href='@Url.Action("CreateReview", "Review", new { bookId = Model.Id})'" />        
        <input type="submit" class="btn btn-outline-info" name="editBook" value="Edit Book" onclick="location.href='@Url.Action("EditBook", "Book", new { id = Model.Id})'" />
        <input type="submit" class="btn btn-outline-danger" name="deleteBook" value="Delete Book" onclick="location.href='@Url.Action("DeleteBook", "Book", new { id = Model.Id})'" />
    </div>
    <div class="row justify-content-center" style="padding-top:5vh">
        @foreach (var review in ViewData["reviews"] as IEnumerable<Review>)
        {
            <div class="container rounded" style="max-height:20vh;width:40vh;background-color:antiquewhite;border:1px solid black;">
                <div class="row">
                    <div class="col">
                        <b>@review.Name</b>
                    </div>
                    <div class="col" style="text-align:right">
                        <p style="font-size:10px">Rating: @review.Stars</p>
                    </div>
                </div>
                <div class="row" style="padding:5px;">
                    @review.Text.Truncate(125, "...")
                </div>
            </div>
        }
    </div>
</div>

<!--<h1 style="text-align:left">@Model.Name</h1>
<div class="container">
    <div class="row justify-content-md-start">
        <div class="col-md-auto" style="width:200px">
            <img src="@Model.PicLink" alt="No pic" width="200" height="250" />
            <br /><br />-->

            @*<input type="submit" value="Add Review" asp-controller="Review" asp-action="CreateReview"/>*@
            <!--<input type="submit" value="Add Review" onclick="location.href='@Url.Action("CreateReview", "Review", new { bookId = Model.Id})'" />
            <br />
            <input type="submit" name="deleteBook" value="Delete Book" onclick="location.href='@Url.Action("DeleteBook", "Book", new { id = Model.Id})'" />
            <br />
            <input type="submit" name="editBook" value="Edit Book" onclick="location.href='@Url.Action("EditBook", "Book", new { id = Model.Id})'"/>
        </div>
        <div class="col-3">
            <p>@Model.Description</p>
            <p>Rating: @Model.AvgStar</p>
        </div>

    </div>

    <br />
    <div class="row justify-content-start col-6">
        <h5>Reviews</h5>
        <div class="rounded" style="border:1px solid grey">
            @foreach (var review in ViewData["reviews"] as IEnumerable<Review>)
            {
                <div class="rounded" style="border:1px solid grey; background-color:antiquewhite">
                    <div class="col-11">
                        <div class="row">
                            <h6 class="pl-4">@review.Name</h6>
                        </div>
                        <div class="row">
                            <p class="pl-4">@review.Text</p>
                        </div>
                        <div class="row">
                            <p class="pl-4">Rating: @review.Stars</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>-->





