@model IEnumerable<Book>
@{
    Layout = "_Layout";
}

@if (Model != null)
{
    @foreach (var book in Model)
    {
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto rounded" style="background-color: antiquewhite;">
                    <img src="@book.PicLink" alt="no pic" class="rounded" width="70" height="100" />
                </div>
                <div class="col-5" style="height: 100px;background-color: antiquewhite;">
                    <h5>@book.Name</h5>
                    @book.Description.Truncate(45, "") @if (book.Description.Length > 45)
                    {
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="@book.Description">...</a>
                    }<br />
                    <span style="font-size:10px">
                        Rating: @if (book.AvgStar != null)
                        {
                            @book.AvgStar;
                        }
                    </span>
                </div>
                <div class="col-md-auto d-flex align-items-center justify-content-center rounded" style="background-color:antiquewhite;">
                    <input type="submit" class="btn btn-outline-primary" style="height:50px" value="Details" onclick="location.href='@Url.Action("BookDetails", "Book", new {id=book.Id })'">
                </div>
            </div>
        </div>
        <br />


    }
    <!-- Modal -->
    <div class="modal fade" id="DescModal" tabindex="-1" aria-labelledby="Description" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Model.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

